* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: #CCCCFF;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #CCCCFF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

footer {
    background: #CCCCFF;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: #FFFFFF;
    font-size: 60px;
    margin: 0;
}

footer div {
    margin: 25px 0;
    line-height: 1.5;
    font-size: 20px;
}

section {
    padding: 60px;
}

/* Hero Style Start */
.hero {
    background: url("../images/work-portfolio-photo.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* Hero Style End */

/* About Me Style Start */
.intro {
    margin: 50px auto;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.intros {
    font-size: 45px;
    color: #CCCCFF;
}

.about-me-text {
    line-height: 1.7;
    color: #CCCCFF;
    width: 60%;
    font-size: 20px;
    margin: 0 auto;
}

.about-me-text {
    vertical-align: top;
    text-align: left;
    display: inline;    
}
/* About Me Style End */

/* Work Style Start */
.work {
    margin: 50px auto;
    padding-bottom: 40px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.works {
    font-size: 45px;
    color: #CCCCFF;
}
/* Work Style End */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }

    .intro {
      width: 80%;
    }
    
    .work {
        width: 80%
    }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .intros {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .about-me-text {
      flex: 100%;  
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
   
  
    .intro {
      width: 95%;
    }
  
    .about-me-text {
      width: 100%;
    }
}
}